<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="Verify user is logged in">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.ToVerifyUserIsAbleToLogin"/>
        </classes>
    </test>

    <test name="Verify Dashboard button">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.VerifyDashboardButton"/>
        </classes>
    </test>
</suite>